* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container-fluid {
  text-align: center;
  width: 100%;
  height: 900px;
  margin-top: 10px;
}

.frame {
  border: 2px solid grey;

  margin-left: 300px;
  margin-right: 300px;
  text-align: left;
  padding-right: 100px;
  padding-left: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.button-create {
  background-color: rgb(59, 150, 59);
  border: 3px solid lightblue;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#selectAll {
  width: 90%;
  padding: 8px;
  background-color: rgb(206, 203, 203);
}

.allmovieslength {
  text-align: right;
  margin-right: 20px;
  padding-right: 80px;
  padding-top: 100px;
}

#movie-genre {
  width: 100%;
  padding: 10px;
}

.form {
  margin-top: 50px;
}

#error {
  height: 20px;
  padding-top: 4px;
  color: red;
}

label {
  display: block;
}

.gadjam-te {
  position: relative;
}
